.mlr-1pc {
  margin-left: 1vw;
  margin-right: 1vw;
}

.m-5 {
  margin: 5px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-1 {
  margin-left: 1px;
}

.ml-1pc {
  margin-left: 1vw;
}

.mr-1pc {
  margin-right: 1vw;
}

.mb-1pc {
  margin-bottom: 1vh;
}

.mtb-1pc {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.mlr-1pc {
  margin-left: 1vw !important;
  margin-right: 1vw !important;
}

.mtb-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mt-3 {
  margin-top: 3px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-40 {
  margin-top: 40px;
}

.mb-1pc {
  margin-bottom: 1vh;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pt-1pc {
  padding-top: 1vh;
}

.ptb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.plr-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.plr-1pc {
  padding-left: 1vw;
  padding-right: 1vw;
}

.w-98 {
  width: 98%;
}

.br-0 {
  border-radius: 0% !important;
}

.center-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mint-button label {
  margin-bottom: 0 !important;
}

.mint-cell-title label {
  margin-bottom: 0 !important;
}

.nav-header {
  padding: 10px 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0
}

.mint-cell {
  background-size: 0% !important;
}

.mint-cell:hover {
  color: inherit !important;
  text-decoration: none !important;
}

.mint-search-list {
  overflow-y: scroll;
}

// .mint-cell-label {
//   overflow: hidden; /* 超出一行文字自动隐藏 */
//   text-overflow: ellipsis;/* 文字隐藏后添加省略号 */
//   white-space: nowrap; /* 强制不换行 */
// }

.bottom-half-btn {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 48vw;
  display: inline-block;
}

.bottom-half-btn:first-child {
  margin-left: 1vw;
}

.bottom-half-btn:last-child {
  margin-right: 1vw;
}

.err-popover-content {
  margin-bottom: 0 !important;
  color: #ef4f4f;
}

.mint-indicator {
  position: absolute;
  z-index: 2003;
}

.scroll-panel {
  position: fixed;
  // 需指定top和bottom
  // top: 49px;
  // bottom: 55px;
  left: 0;
  right: 0;
  overflow-y: scroll;
}