.mlr-1pc {
  margin-left: 1vw;
  margin-right: 1vw;
}

.ml-1pc {
  margin-left: 1vw;
}

.mr-1pc {
  margin-right: 1vw;
}

.mb-1pc {
  margin-bottom: 1vh;
}

.mtb-1pc {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.mt-3 {
  margin-top: 3px !important;
}

.mt-40 {
  margin-top: 40px;
}

.mb-1pc {
  margin-bottom: 1vh;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pt-1pc {
  padding-top: 1vh;
}

.center-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mint-button label {
  margin-bottom: 0 !important;
}

.mint-cell-title label {
  margin-bottom: 0 !important;
}

.nav-header {
  padding: 10px 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0
}

.mint-cell:hover {
  color: inherit !important;
  text-decoration: none !important;
}